[submodule "apps/misp-docker"]
	path = apps/misp-docker
	url = https://github.com/pe3zx/misp-docker.git
[submodule "apps/Cortex-Analyzers"]
	path = apps/Cortex-Analyzers
	url = https://github.com/TheHive-Project/Cortex-Analyzers.git
